<!DOCTYPE HTML> {%load staticfiles%}
<html>
	<head>
		<title>Projetos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!--Biblioteca Leaflet-->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
		<script src="{% static 'app1/js/websig.js' %}"></script>
		<!-- <link type="text/css" rel="stylesheet" href="{% static 'app1/Plugins/Leaflet/leaflet.css' %}"/>
		<script src="{% static 'app1/Plugins/Leaflet/leaflet.js' %}"></script> -->

    <!--Arquivos proprios-->
		<link rel="stylesheet" href="{% static 'app1/css/projeto.css' %}" />
		<!-- Definindo WebMap -->


		<!--Coordenadas no clique -->
		<link rel="stylesheet" href="{% static 'app1/css/Control.Coordinates.css' %}" />
		<script src="{% static 'app1/js/Control.Coordinates.js' %}"></script>

		<!--
		<script src="Plugins/graticule/L.Graticule.js" ></script>
	  -->

		<!-- Caminho toolbar navegacao -->
		<link type="text/css" rel="stylesheet" href="{% static 'app1/Plugins/Leaflet.NavBar-master/src/Leaflet.NavBar.css' %}"/>
		<script src = "{% static 'app1/Plugins/Leaflet.NavBar-master/src/Leaflet.NavBar.js' %}"></script>

		<!-- Adicionando mini mapa -->
    <link type="text/css" rel="stylesheet" href="{% static 'app1/Plugins/Leaflet-MiniMap-master/src/Control.MiniMap.css' %}"/>
		<script src="{% static 'app1/Plugins/Leaflet-MiniMap-master/src/Control.MiniMap.js' %}"></script>

		<!-- Adicionando escala -->
		<link type="text/css" rel="stylesheet" href="{% static 'app1/css/L.Control.BetterScale.css' %}"/>
		<script src="{% static 'app1/js/L.Control.BetterScale.js' %}"></script>

		<!-- adiciona a biblioteca jquery e jquery-ui -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<!-- estilo do formulario -->
		<link rel="stylesheet"  href="{%  static 'app1/css/estilos.css' %}">

		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>
		<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css"> -->

  </head>

	<body class="subpage">

		<!-- Header -->
			<header id="header">

		<!-- Ferramentas Leaflet -->
       <div class="inner">
					<nav id="nav">
						<a href="/index">Home</a>
						<a href="/levantamentos">Resultados Levantamentos Realizados</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2><b>Dados Espaciais Mapeados</b></h2>
					</header>
				    <div id="websig"></div>
				</div>
				<div id= "form"  style="  height:70%; width: 30%; float:right; background-color: #08306b ">
					<div id="form2">
					  <!--"action" define para qual endereço os dados do formuário vai ser enviado  -->
					  <!--method é metodo http utilizados, enctype="multipart/form-data" é necessario no envio de arquivos pelo formulario   -->
					<form action="/addponto" method="POST" enctype="multipart/form-data" id= "form1">
					  <div class="imgcontainer">
					    <!-- static 'cachorro_sombra.jpg carrega a imagem do cachorro armazenada na pasta static -->
					    <img src="{% static 'app1/images/gota.jpg' %}" alt="Avatar" class="avatar">

					  </div>

					  <div class="formulario">
					     {% csrf_token %}   <!-- define um token de seguranca para requisicoes do tipo POST , SEMPRE DEVE SER USADO NOS FORMS HTML COM DJANGO  -->
					      <p>{{ form.foto.label_tag }}  {{ form.foto }}</p>    <!--form.foto.label_tag represente o nome do campo utilizado no formulario criado no django,  form.foto cria um campo no html conforme o tipo definido no seu modelo de dados -->
					      <p>{{ form.nome_do_ponto.label_tag }}  {{ form.nome_do_ponto }}</p>
					      <p>{{ form.data.label_tag }}<br>"dd/mm/aaaa"</br>  {{ form.data }}</p>
					      <p>{{ form.periodo.label_tag }}  {{ form.periodo }}</p>
					      <p>Turma/{{ form.observador.label_tag }}<br>"Eng Cartografica"</br>  {{ form.observador }}</p>
					      <p>{{ form.integrantes.label_tag }} <br>"Arthur, Alex, Luiz"</br> {{ form.integrantes }}</p>
						    <p>{{ form.od.label_tag }}<br>"5.00"</br>  {{ form.od }}</p>
						    <p>{{ form.temperatura.label_tag }}<br>"21.6"</br>  {{ form.temperatura }}</p>
						    <p>{{ form.odor.label_tag }}  {{ form.odor }}</p>
						    <p>{{ form.cor.label_tag }}  {{ form.cor }}</p>
						    <p>{{ form.observacoes.label_tag }}<br>"Problema calibracao do equipamento"</br>  {{ form.observacoes }}</p>

					  </div>

					  <p><input type="submit" value="Cadastrar" /></p> <!-- botão para submeter o formulario -->
					</form>
					</div>
				</div>
				<div id="posicao_button1">
					<button type="button" onclick="Mudarestado('form')">Monitoramento - Cadastro</button>
				</div>
				<div>
					<button type="button" value="Submit" onclick="Consulta_Ponto('todos_pts')"> Mostrar todos os pontos </button>
					<button type="button" value="Submit" onclick="Consulta_Ponto('nome_pt')"> Selecionar tabela ponto </button>
					<!-- <input class="ui-button ui-widget ui-corner-all" type="submit" value="Submit" onclick="Consulta_Ponto()" > </input> -->
					<!-- <h4> Selecionar Ponto</h4> -->
					<!-- <select name="salutation" id ='tema' style="font-size: 20px;"></select> -->
				</div>
				<!--<script>
					nome_pts({{temas |safe}})
				</script> -->
      </section>

  	</body>

		<!-- Footer -->
		<footer id="footer">
		  <div class="inner">
				<div class="flex">
					<div class="copyright">
								&copy; Desenvolvido por Arthur Polli, Alex Bruno Kraemer e Luiz Henrique Bossola
					</div>
					  <ul class="icons">
							<li><a href="https://www.facebook.com/aguaeacao"> <img src="{% static 'app1/images/face2.png' %}" class="media-object  img-responsive img-thumbnail"></a>
							</li>
						</ul>
					</div>
			</div>
	  </footer>
</html>
